<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q6_v-if</title>

    <!-- vue는 cdn 방식 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        잔고 :
        <input type="text" v-model="balance" @input="checkAmount"/>
        <br/>
        회원님의 등급 :
        <span v-if="balance>= 1000000">Gold</span>
        <span v-else-if="balance>= 500000">Silver</span>
        <span v-else-if="balance>= 200000">Bronze</span>
        <span v-else>Basic</span>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    balance:0
                }
            }
        }).mount("#app");
    </script>
</body>
</html>
